/* Applies style to everything on webpage */
* {
    /* width and height include the content, padding, and border */
    box-sizing: border-box; 
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

body {
    /* Adds background color behind all other elements displayed on webpage */
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    /* Changes font family from what is specified in universal selector */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/* Header displays left of the nav bar due to inline */
h1 {
    display: inline;
    font-size: 48px;
}

/* Span element is located only in header. Refers to 'seo' in 'Herseon' */
h1 span {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    /* nav bar is inline via header element; float right pushes the nav bar right */
    float: right;
    font-size: 20px;
}

nav ul li {
    /* Specified inline for nav bar to list left to right */
    display: inline;
    margin-left: 25px;
}

/* a element is only located in nav bar. */
a {
    /* Removes the typical link underline from nav bar. */
    text-decoration: none; 
}

/* p elements located in main, aside, and footer elements. */
p {
    /* Sets all p elements to font size 16px. */
    font-size: 16px;
}

body img {
    width: 100%;
    margin-bottom: 25px;
}

main {
    /* displays inline but as a block with a specified width and/or height */
    display: inline-block; 
    /* any width less than 100% can allow room horizontally for another section element */
    width: 75%;
    margin-left: 20px;
}

/* Adds box styling to main section elements */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;    
    background-color: #0072bb;
}

/* Image specifications in main element */
main img {
    max-height: 200px;
    width: auto;
    float: left;
    margin-right: 25px;
}

/* Since main img is float left, specified float right to match original webpage */
#online-reputation-management img {
    float: right;
}

/* All h2 elements a located within the main element */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Adds box styling to aside element. */
aside {
    margin-right: 20px;
    padding: 20px;
    /* displays aside element right on the webpage */
    float: right;
    /* since main element has a width of 75%, aside element can fit within the remaining 25% of webpage */
    width: 20%;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
}

/* All h3 elemetns are located within the aside element */
h3 {
    text-align: center;
}

aside section img {
    /* Lets each image take up its own line. */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    /* Changes font family from what is specified in universal selector */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color: black
}
